* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

body {
  background-color: #2d2e32;
  color: white;
  /* align-items: center; */
}

/* Navigation Bar */

nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  min-height: 50px;
  max-height: 100px;
  margin: 25px 130px;
  padding: 15px 20px;
  border-radius: 60px;
  border: none;
  background-color: #4d4d50b5;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px); /* Safari support */
  box-shadow: 0 0 8px 5px rgb(43, 42, 42);
}

.nav-sec1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.logo:hover {
  cursor: pointer;
}

.my-name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 22px;
  /* letter-spacing: 1px; */
}

.my-name:hover {
  cursor: pointer;
}

.name-sym {
  color: #32a050;
  font-size: 24px;
}

.nav-sec2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-links {
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-links li {
  list-style-type: none;
  display: inline-block;
}

.nav-link {
  font-size: 20px;
  font-weight: 700;
}

.nav-link:hover {
  cursor: pointer;
  color: #32a050;
}

.download-cv {
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 30px;
  border: 2px solid #32a050;
  background-color: #2d2e32;
  color: #fff;
}

.download-cv i {
  text-shadow: 0 0 5px #fff;
}

.download-cv:hover {
  cursor: pointer;
}

.flag {
  padding: 5px 10px 1px;
  background-color: #1a1919;
  border-radius: 10px;
}

.flag:hover {
  cursor: pointer;
}

.flag img {
  width: 40px;
}

/* Main Sections */

/* Hero Section */

.hero-section {
  height: 75vh;
  margin: 0 120px;
}

.hero-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.hero-sec,
.hero-image {
  padding: 40px 80px;
}

.hero-sec {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.hero-sec p {
  font-size: 20px;
  color: #ab9a8c;
  line-height: 1.5;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
  margin: 20px 0;
}

.title-content {
  letter-spacing: 1px;
}

.title-content span {
  color: aqua;
}

.hero-image {
  text-align: center;
  margin: auto 0;
}

.browser-project {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 30px;
  border: 2px solid #32a050;
  background-color: #2d2e32;
  color: #fff;
  margin-top: 30px;
}

.browser-project {
  cursor: pointer;
}

.browser-project .folder-icon {
  margin-left: 25px;
  text-shadow: 0 0 15px #fff;
}

/* About Section */

.about-section {
  background-color: #25262a;
  min-height: 100vh;
  padding: 60px 0;
}

.about-container {
  margin: 0 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.section-title {
  grid-column: span 2;
  text-align: center;
  font-size: 40px;
  text-decoration: underline #32a050;
  text-underline-offset: 20px;
  text-decoration-thickness: 5px;
}

.about-domains ul {
  list-style-type: none;
}

.about-domains ul li {
  background-color: #2d2e32;
  margin-bottom: 30px;
  padding: 35px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px #212225;
}

.about-domains ul li .skill-head {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
  color: #32a050;
}

.about-domains ul li p {
  color: #ab9a8c;
  margin-top: 15px;
  font-size: 20px;
  word-spacing: 3px;
}

.about-details h2 {
  font-size: 64px;
  margin-bottom: 40px;
}

.about-details h2 span {
  color: #32a050;
  text-decoration: underline #32a050;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
}

.about-details p {
  color: #ab9a8c;
  margin-bottom: 30px;
  font-size: 20px;
  word-spacing: 5px;
}

/* Skills Sections */

.skills-section {
  min-height: 100vh;
  padding: 60px 0;
}

.skill-container {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.skills-list ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 120px;
}

.skills-list ol li {
  list-style-type: none;
  justify-self: center;
  padding: 30px;
}

.skill-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transform: scale(1);
  transition: none;
}

.skill-box:hover {
  animation: bouncein 0.5s ease-in-out forwards;
  cursor: pointer;
}

.skill-box:not(:hover) {
  animation: bounceout 0.6s ease-in-out forwards;
}

.skill-box .skill-icon {
  text-align: center;
  width: 225px;
  height: 225px;
  border: none;
  border-radius: 10px;
  background-color: #25262a;
  box-shadow: 5px 5px 5px 5px #28292d;
  padding: 35px;
  transition: background-color 0.5s ease-in-out;
}

.skill-box:hover .skill-icon {
  background-color: #2a2e3f;
}

.skill-box:not(:hover) .skill-icon {
  background-color: #25262a;
}

.skill-box .skill-name {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

/* Experience Section */

.experience-section {
  background-color: #25262a;
  min-height: 30vh;
  padding: 60px 120px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

.title-margin {
  margin-bottom: 30px;
}

.workex {
  width: 90%;
  margin: 0 auto;
  background-color: #2d2e32;
  box-shadow: 5px 5px 5px 5px #222326;
  padding: 15px 20px;
}

.workplace {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 300;
}

.company-name {
  color: #32a050;

  font-weight: 600;
  margin-bottom: 20px;
}

.company-underline {
  text-decoration: underline;
  text-underline-offset: 7px;
}

.work-type {
  max-height: 36px;
  background-color: #15202b;
  padding: 7px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: inline;
}

.work-tenure {
  font-weight: 300;
  font-size: 18px;
  color: #ab9a8c;
}

.tenure-range::before {
  content: "\f2f2"; /* Unicode for Font Awesome timer icon (fa-solid fa-timer) */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 10px;
  color: #32a050;
}

.tenure-total::before {
  content: "\f111"; /* Unicode for fa-solid fa-circle */
  font-family: "Font Awesome 6 Free";
  font-size: 9px;
  font-weight: 900; /* For solid icons */
  color: #32a050;
  margin: 0 10px;
  vertical-align: 2px;
}

.work-location::before {
  content: "\f3c5";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 14px;
  color: #32a050;
  margin: 0 10px;
  vertical-align: 2px;
}

.workex-expanded {
  display: none; /* Display will be none, add with JS code.*/
  padding: 30px 20px;
  font-weight: 300;
  font-size: 18px;
  color: #ab9a8c;
}

.workex-expanded li {
  margin: 10px;
}

/* Projects Section */

.projects-section {
  min-height: 100vh;
  padding: 60px 0;
}

.projects-container {
  margin: 0 120px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
}

.project-type {
  grid-column: span 2;
  justify-self: center;
  border: none;
  border-radius: 100px;
  padding: 20px;
  background-color: #25262a;
  box-shadow: 0 0 10px 5px #2a2b2e;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.project-type span {
  font-size: 24px;
  padding: 10px 90px;
  border-radius: 90px;
  border: 2px solid rgb(70, 66, 66);
}

.project-type span i {
  margin-right: 5px;
}

.project-type span:active {
  border: 2px solid #32a050;
  background-color: rgba(42, 64, 43, 0.878);
}

.project-type span:active i {
  text-shadow: 0 0 15px #32a050;
  color: #32a050;
}

.projects-content {
  grid-column: span 2;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin-bottom: 60px;
  padding: 40px;
}

.project-demo {
  grid-column: span 2;
}

.project-demo img {
  width: 1000px;
  height: auto;
  border: 2px solid #32a050;
  border-radius: 20px;
}

.project-demo:hover img {
  width: 1100px;
}

.project-demo:hover + .project-details .project-description {
  width: 80%;
  justify-self: right;
}

.project-details {
  text-align: right;
}

.project-details h3 {
  font-size: 40px;
}

.project-label {
  color: #32a050;
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0;
}

.project-description {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-stack {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.project-stack li {
  padding: 8px 10px;
  border-radius: 40px;
  border: 3px solid #32a050;
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
}

.project-description p {
  background-color: #25262a;
  padding: 15px 40px 15px 20px;
  min-height: 210px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #2f3033;
  color: #ab9a8c;
  font-size: 20px;
  text-align: left;
}

.project-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  margin-top: 10px;
  padding: 5px;
}

.project-links li {
  list-style-type: none;
  font-size: 18px;
  margin-right: 15px;
}

.project-links li a {
  color: #ab9a8c;
}

/* Contacts section */

.contact-section {
  background-color: #25262a;
  padding: 120px 0 60px;
  min-height: 100vh;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 0 160px;
}

.contact-methods {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  width: 90%;
  margin: 0 auto;

  background-color: #2d2e32;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #222326;
}

.contact-methods h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 90px;
}

.contact-methods li {
  color: #ab9a8c;
  list-style-type: none;
  margin-bottom: 60px;
  font-size: 22px;
}

.contact-methods li i {
  margin-right: 20px;
}

.email-form {
  padding: 30px;
}

.email-form form h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.email-form form h4 {
  color: #ab9a8c;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.form-inputs input {
  padding: 15px;
  font-size: 20px;
  background-color: #232426;
  border: none;
  margin-bottom: 40px;
}

.form-inputs input::placeholder {
  color: #ab9a8c;
  opacity: 1;
}

.form-inputs .email-message {
  height: 200px;
  padding: 15px;
  font-size: 20px;
  background-color: #232426;
  border: none;
  margin-bottom: 40px;
  box-sizing: border-box;
  resize: none;
}

.form-inputs .email-message::placeholder {
  color: #ab9a8c;
  opacity: 1;
}

.form-submit {
  background-color: #2d2e32;
  padding: 10px 30px;
  font-size: 24px;
  border: 3px solid #32a050;
  border-radius: 40px;
  color: #fff;
}

.form-submit:hover {
  cursor: pointer;
}

.form-submit i {
  margin-left: 15px;
  text-shadow: 0 0 15px #fff;
}

/* Footer section */

.footer-container {
  background-color: #15202b;
  padding: 10px 0;
  text-align: center;
  color: #ab9a8c;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.footer-content {
  font-size: 18px;
  font-weight: 400;
  transition: 0.5s;
}

.footer-container h5 {
  font-size: 18px;
  font-weight: 400;
}

@keyframes bouncein {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes bounceout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
